body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #375580;
    color: white;
    text-align: right;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma,sans-serif;
}

nav span {
    font-family: brush script mt, cursive;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100vw;
    height:4vh;
    display: inline;
    text-align: right;
}

nav li {
    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}


.div1 button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline-block;
    background-color: transparent; 
   border: 2px solid #fff;
}

/* Home Section Styles */
#home {
    background: url('blacksea.jpg') center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#home h1 {
    font-size: 2.5rem;
    text-align: center;
}

#home button {
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    display: inline-block;
    background-color: transparent; 
    border: 2px solid #fff;
}

/* About Section Styles */
#about {
    background-color: white;
    padding: 20px;
    text-align: center;
}

#about h4{
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma,sans-serif;
}

.icon-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icon {
    margin: 0 10px;
}

.icon img {
    width: 10vw;
    height: 20vh;
 }


#portfolio {
    background-color: #375580;
    background-size: cover;
    color: white;
    padding: 20px;
    text-align: center;
}


#contact {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.map img {
    width: 100vw;
    height: 70vh;
}

.form-container {
    max-width: 400px;
    padding: 20px;
    background-color: white;
}


input,
textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.form-container h2 {
    margin-bottom: 10px;
}
.form-container textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.form-container button{
background-color: #375580;
color: white;
border: none;
padding: 10px 20px;
cursor: pointer;
}


.footer-section {
    background-color: #375580;
    color: white;
    text-align: center;
    padding: 10px;
}
